<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE feeds2imap SYSTEM "config.dtd">
<feeds2imap>
  <imap>
    <server>mail.example.com</server>
    <port>993</port> <!-- standard is 143 for IMAP, 993 for IMAPS-->
    <ssl /> <!-- comment out to deactivate SSL -->
    <username>user</username>
    <password>123456</password>
    <messagespermailbox>400</messagespermailbox> <!-- maximum messages per mailbox, 0 for no limit -->
  </imap>
  <feeds>
    <feed>
      <url>http://rss.slashdot.org/Slashdot/slashdot</url>
      <mailbox>Feeds.Slashdot</mailbox>
    </feed>
    <feed>
      <url>http://www.osnews.com/files/recent.xml</url>
      <mailbox>Feeds.OSNews</mailbox>
    </feed>
    <feed>
      <url>http://digg.com/rss/indexnews.xml</url>
      <mailbox>Feeds.Digg</mailbox>
    </feed>
  </feeds>
</feeds2imap>
